{% extends "researchapp/verybase.html" %}
{% load static %}

{% load extrafilters %}


{% block pagetitle %}
    <title>michelepasin.org/{% if category %}{{category}}{% else %}...{% endif %}{% if urlname %}/{{urlname}}{% endif %}
    </title>
{% endblock pagetitle %}



{% block extrahead %}


<style type="text/css">

body {
	font: 12px 'Andale Mono', 'Andale Mono WT', Consolas, sans-serif; 
	}

.top-row {
	margin-top: 65px;
	{% comment %} used in welcome page {% endcomment %}
}
.top-row2 {
	margin-top: 40px;
	{% comment %} used in other pages {% endcomment %}
}

.paper-year {
	font-size: 50px;
	color: #dedddd;
	min-height: 80px;
	word-break: break-word;
}

.bluelink {
	color: blue;
}


.margin-top-50 {
    margin-top: 50px;
}


.margin-top-100 {
    margin-top: 100px;
}


.item_images img {
    max-width: 800px;
    border-left: 20px solid lightgrey;
}

.item_images img:hover {
    border-left: 20px solid #89A6FF;
{#    # royalblue #}
}

.text-black {
    color: black;
}

/*title*/
.menu .title { 
	margin: 9px 0px 40px -14px;
	color: white;
	background-color: #F31B1B;
	padding: 3px;
	width: 156px;
}
.menu .title a {
	background-color:#F31B1B; font-weight:bold; 
	color:white; position:relative; left:-10px;}
.menu .title a:visited {
	background-color:#F31B1B; font-weight:bold; 
	color:white; position:relative; left:-10px;}

.menu  a:link{text-decoration:none;color:#06C;font-weight:bold;}
.menu  a:hover{text-decoration:underline;font-weight:bold;color:#f31b1b; cursor:pointer;}
.menu  a:visited{text-decoration:none;color:#06C;}
.menu  a.active{text-decoration:none;color:white;background:#06C;padding:2px;}


.menu  ul.outlinks a:link{text-decoration:none;color:#8F0707;font-weight:bold;}
.menu  ul.outlinks a:hover{text-decoration:underline;font-weight:bold;color:#8F0707; cursor:pointer;}
.menu  ul.outlinks a:visited{text-decoration:none;color:#8F0707;}


/* li elements */

 #menulist { margin-left: -10px;}
.menu li { 	margin-left: -25px; }
.menu ul { list-style: none; margin: 0 0 12px 0; }

.leftContainer ul {list-style: none;}


.nextitemlink, .nextitemlink a{
	color: black;
}

.nextitemlink a:hover {
	color: darkgrey;
}

.previewframe {
    width: 600px;
    height: 400px;
}



table.news {
    table-layout: fixed;
    word-wrap: break-word;

}


table.small_font {
	font-size: 9px;
}

table.medium_font {
	font-size: 12px;
}



table.news a {
	color: black;
	text-decoration: underline;
}


/* left menu fixed only for big screens */

@media (min-width: 970px) {
    .toc-container {
        background: #fff;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top: 1.5em;
        white-space: nowrap;
        width: 20%;
        -webkit-overflow-scrolling: touch
    }

	.fixedContainer
	{
	  position: fixed;
	}
	.leftContainer
	{
	  margin-left: 200px;
	}

}



div.project-thumbnail {
	width: 300px;
    height: 200px; /* or whatever... */
    margin-bottom: 40px;
    overflow: hidden;
    float: left;
}

div.project-thumbnail-small {
	width: 200px;
    height: 143px; /* or whatever... */
    margin-bottom: 20px;
    overflow: hidden;
    float: left;
}

.project-thumbnail img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

.project-thumbnail img:hover {
    opacity: 1;
    border: 1px solid black;
}

.lihome {
	margin-left: 10px;
    margin-top: 10px;
	font-size: 15px;
	{% comment %} color: indianred; {% endcomment %}
	{% comment %} color: white;
	background: darkgrey; {% endcomment %}
}

.headline {
	color: #444444;
	font-size: 370%;
}

.belowheadline {
	color: #b1b0b0;
    font-size: 120%;
}

.hl {
}
.hl:hover {
	color: black;
}

.bold {
	font-weight: bold;
}

</style>


{% endblock extrahead %}	





{% block bodycontent %}


<div class="container-fluid">
  <div class="row">
	  
	  
    <div class="col-md-2 menu fixedContainer -toc-container">
    	<a name="menu"></a>
		
		<p class="title">
			&nbsp;&nbsp;&nbsp;<a href="/" style="color: white;">MICHELEPASIN.ORG</a>
		</p>

		{% include "researchapp/menuglobal.html" %}


    </div>
	
	
    <div class="col-md-10 -col-md-offset-2 leftContainer">
    	<a name="content"></a>





		{% block page_specific %}

			Implement these contents with what you need in each page

		{% endblock %}
		




			{% comment %} 2018-05-18: display none cause I was fed up with it {% endcomment %}
			<div style="margin-top: 600px; display: none;">	&nbsp;
				{# ADSENSE stuff #}

				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- basic1 -->
				<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-8108687655438913"
					data-ad-slot="2230044782"
					data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>

				{# end #}

			</div>
			<br /><br />
				
    </div>
	
  </div>
</div>  {# end of container-fluid #}






{% endblock bodycontent %}


	



{% block global_js  %}
<script type="text/javascript" src="{% static 'researchapp/js/utilities.js' %}"></script>


{#  GOOGLE STATS [activate once online]:  #}	

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2000254-3']);
  _gaq.push(['_setDomainName', 'michelepasin.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
  
	{% if 0 and not welcomepage %}

	{# scroll down to main section - for small screens eg phones #}

	<script type="text/javascript">
	
		function scrollToAnchor(name) {
		  	$('html, body').animate({		
		  	        scrollTop: $('a[name="' + name + '"]').offset().top - 20
		  	    }, 1500);
		};
	
		scrollToAnchor("content");

	</script>
	

	{% endif %}

  
  
{% endblock  %}
	



{% block extra_js %}


{% endblock %}



