{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
<title>About | Michele Pasin</title>
{% endblock pagetitle %}


{% block navbar %}

{% with thispage="about" %}

{% include "portfolioapp/components/default-navbar.html" %}

{% endwith %}

{% endblock navbar %}


{% block bodycontent %}

<div class="page-header">
  About
</div>

<div class="container">





  <div class="row" style="-margin-top: 40px;">


    <div class="col-md-6" >

      <div class="lead well">

        Hello and welcome to my personal site.
        <br /><br />
        I’m Michele. Was born in Italy, live in the UK, I'm a father of two, have a computer science <a href="/papers/2009/07/30/ontological-requirement-for-supporting-smart-navigation-of-philosophical-resources/">PhD</a> and enjoy writing. Code, music, words. Both for fun and to make a living. 
        <br /><br />
        I have been working in the broad <a target="_blank" href="https://en.wikipedia.org/wiki/Knowledge_management">knowledge management</a> field for 20+ years now. Focusing on a wide range of topics, including theories of knowledge, ontology engineering, classification systems, information architecture, data architecture, data analytics and visualization, semantic web and knowledge graphs. 
        <br /><br />
        On this website you’ll find a bit of everything. Half-baked <a href="/sounds">musical</a> compositions, open source <a href="https://www.michelepasin.org/projects/index.html%3Fk=open-source.html">software</a> and academic <a href="/words">papers</a>. What you might not find is a coherent explanation of how it all fits together. So you’ll have to make sense of it yourself, I am afraid. Still, I hope you'll find something that sparks your imagination and creativity. 
        <br /><br />
        That's it, my friend. Do leave a <a href="/contact">message</a> if you feel like it. Or, if you want a more impersonal and pompous bio, well.. keep reading then.
        <br /><br />
      </div>

      <br />
      <a name="bio" style="color: grey;">Formal Bio</a>
      <hr>

      <div class="lead well" style="background-color: aliceblue; font-family: sans-serif;">

        <a href="http://www.michelepasin.org/">Michele Pasin</a> is a computer scientist with a focus on data architecture, knowledge management and information visualization. 
        <br /><br />
        Michele works for <a href="https://www.dimensions.ai">Dimensions.ai</a>, a state-of-the-art scientific research assessment and discovery platform, part of <a href="https://www.digital-science.com/">Digital Science</a>. Michele leads the Dashboards and Data Solutions team, which provides advanced analyses of the scientific domain in the form of APIs, interactive dashboards and visualizations.  
        <br /><br />
        Prior to that, Michele worked at <a href="https://www.springernature.com/">Springer Nature</a> where he developed projects such as <a href="https://www.springernature.com/gp/researchers/scigraph">SN Scigraph</a>, <a href="https://www.nature.com/subjects">Nature.com subject pages</a> and the underlying Nature Ontologies portal.

        <br /><br />
        Michele holds a PhD in semantic web technologies from the <a href="https://kmi.open.ac.uk/">Knowledge Media Institute</a> (The Open University, UK) and advanced degrees in logic and philosophy of language from the <a href="https://www.unive.it/">University of Venice</a> (Italy). After his doctorate, Michele worked as a research associate at <a href="https://www.kcl.ac.uk/ddh">King's College Department of Digital Humanities</a> (London), where he contributed to digital humanities projects such as the <a href="https://www.poms.ac.uk/">People of Medieval Scotland</a> and the <a href="http://www.artofmaking.ac.uk/">Art of Making in Antiquity</a>.

      </div>

    </div>



    <div class="col-md-6" >

      <div style="margin-top: 5px;">
        <!-- <img style="max-width:100%; max-height:100%;" src="{% static 'legacy/2020-10-14-me.jpg' %}" alt="that's me"/ > -->
        <img style="max-width:60%; max-height:100%;" src="{% static 'legacy/me_cartoon.jpg' %}" alt="that's me"/ >
        </div>

    </div>

  </div>









  <div class="row" style="margin-top: 40px;">

    &nbsp;

  </div>


</div> <!-- /container -->


{% endblock bodycontent %}