{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
  <title>About | Michele Pasin</title>
{% endblock pagetitle %}


{% block navbar %}

    {% with thispage="about" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
    About 
  </div>

  <div class="container">

      <div class="row">

        <div class="col-md-6">

         <p><i>The following bio can be used for events and workshops.</i></p>

          <div class="lead well">

            <a href="http://www.michelepasin.org/">Michele Pasin</a> is a computer scientist with a focus on knowledge engineering, visual analytics, and more broadly, information architecture. 
            <br /><br />
            Michele currenlty works on <a href="https://www.dimensions.ai/">Dimensions.ai</a>, a product from <a href="https://www.digital-science.com/">Digital Science</a>. Dimensions is an award-winning linked research data platform that re-imagines the way research can be discovered, accessed, and analyzed. In particular, Michele heads up the <b>Dimensions Data Solutions</b> team, which is tasked with delivering Dimensions' rich data offering to end users via <a href="https://www.dimensions.ai/dimensions-apis/">APIs</a> and other tools.
          
            <br /><br />
            Prior to that, Michele spent various years at <a href="https://www.springernature.com/">Springer Nature</a>, where he was instrumental to the development of high profile projects such as <a href="https://www.springernature.com/gp/researchers/scigraph">SN Scigraph</a> (a state-of-the-art open linked data platform), <a href="https://www.nature.com/subjects">Nature.com subject pages</a> (a dynamic section of the website that allow users to navigate content by topic) and the Nature ontologies portal (a repository of knowledge models used at Nature). 
            <br /><br />
            Michele holds a PhD in semantic web technologies from the <a href="https://kmi.open.ac.uk/">Knowledge Media Institute</a> (The Open University, UK) and advanced degrees in logic and philosophy of language from the <a href="https://www.unive.it/">University of Venice</a> (Italy). After his doctorate, he worked as a research associate at <a href="https://www.kcl.ac.uk/ddh">King's College Department of Digital Humanities</a> (London), where he contributed to influential digital humanities projects such as the <a href="https://www.poms.ac.uk/">People of Medieval Scotland</a> and the <a href="http://www.artofmaking.ac.uk/">Art of Making in Antiquity</a>. 


            <div style="font-size: 12px; margin-top: 20px;">
            <hr>
              <b>Web identities</b>: 
              {% include "portfolioapp/components/outlinks.html" %}
          </div>


            </div>


         	


      
        </div>


        <div class="col-md-6">
        
          <div id="mynetwork" style="width: 80%; border:0px solid lightgrey;">
          </div>

        </div>

      </div>
      {% comment %} first row ends {% endcomment %}        






  <div class="row" style="margin-top: 80px; margin-bottom: 80px;">

      Contact
    <hr>

    <div class="col-md-6">

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5YTPeA3LzK75sWqHYYZCXciwILDcI_sbAorM-v5sPTQmQjQ/viewform?embedded=true" width="800" height="844" frameborder="0" marginheight="0" marginwidth="0" style="margin-left: -80px;">Loading…</iframe>

    </div>

  </div>





  <div class="row" style="margin-top: 20px; margin-bottom: 80px;">

      Office Details
    <hr>

      <div class="col-md-6">

        <p class="lead">
            Digital Science<br />
            6 Briset St,<br />
            London,<br />
            EC1M 5NR, UK<br />

      </p>

      <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4965.08978422934!2d-0.103715!3d51.52156500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b51a2739b9f%3A0xff5d8ec3906ff6f3!2sBriset%20St%2C%20Farringdon%2C%20London!5e0!3m2!1sen!2suk!4v1577454355202!5m2!1sen!2suk" width=800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </p>

      </div>

      </div>

    {% comment %} second row ends {% endcomment %}





      <div class="row" style="margin-top: 40px;">

        &nbsp;
      
      </div> 
      {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}





{% block extra_js %}

<script type="text/javascript" src="{% static 'js/vis-network.min.js' %}" ></script>

<script type="text/javascript">
  // create an array with nodes

  var nodes = new vis.DataSet([
    {% for t in topics_unique %}
        {% if t in top_topics %}
            {id: "{{t}}", label: "{{t}}", value : 20, color:'#09ed99'},
        {% else %}
            {id: "{{t}}", label: "{{t}}", value : 10 },
        {% endif %}     
    {% endfor %}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {% for t in topics_links %}
        {from: "{{t.0}}", to: "{{t.1}}"},
    {% endfor %}
  ]);

  // create a network
  var container = document.getElementById('mynetwork');
  var h = window.innerHeight - 200;
  container.style.height = h + "px";
  //console.log(w, w-20)
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: { 
      shape: "dot",  // ellipse, circle, database, box, text, dot, square, icon
      borderWidth: 1,
      borderWidthSelected: 2,
      color: {
        border: 'grey',
        background: 'lightgray',
        highlight: {
          border: '#2B7CE9',
          background: '#D2E5FF'
        },
        hover: {
          border: '#2B7CE9',
          background: '#D2E5FF'
        }
      },
      },
    edges: {
      shadow:{
        enabled: true,
        color: 'rgba(0,0,0,0.5)',
        size:10,
        x:5,
        y:5
      },
    },
    physics: {
      stabilization: false,
      barnesHut: {
        springLength: 100
      }
    },
  };
  var network = new vis.Network(container, data, options);

 function focusRandom() {
    //var nodeId = Math.floor(Math.random() * amountOfNodes);
    var ids = nodes.getIds();
    var nodeId = ids[Math.floor(Math.random()*ids.length)];

    var options = {
        // position: {x:positionx,y:positiony}, // this is not relevant when focusing on nodes
        scale: 1.0,
        offset: {x:0,y:0},
        animation: {
            duration: 1000,
            easingFunction: "easeInOutQuad",
        }
    };
    network.focus(nodeId, options);
    } 

  // start focus loop and repeat
  setInterval(focusRandom, 3000);

</script>



{% endblock extra_js %}
