{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
<title>About | Michele Pasin</title>
{% endblock pagetitle %}


{% block navbar %}

{% with thispage="about" %}

{% include "portfolioapp/components/default-navbar.html" %}

{% endwith %}

{% endblock navbar %}


{% block bodycontent %}

<div class="page-header">
  About
</div>

<div class="container">





  <div class="row" style="-margin-top: 40px;">


    <div class="col-md-6" >

      <div class="lead well">

        <a href="http://www.michelepasin.org/">Michele Pasin</a> is a software engineer with focus on data modeling, information visualization and design for content exploration. 
        
        <br /><br />
        Over the years, Michele worked on a number of <b>areas</b> ranging from ontology engineering and elearning to the digital humanities and digital publishing - but more generally, he has been dealing with the problem of representing, analysing and supporting the discovery of scholarly and scientific knowledge using digital technologies.

        <br /><br />
        Michele works for <a href="https://www.digital-science.com/">Digital Science</a>, where he leads the <b>Dimensions Data Solutions</b> team. <a href="https://www.dimensions.ai/">Dimensions</a> is the world’s largest linked research information dataset. It is used by many organizations in both the corporate and academic world in order to assess and gather competitive intelligence about the Research & Development sector.

        <br /><br />
        Prior to that, Michele worked at <a href="https://www.springernature.com/">Springer Nature</a>, where he developed projects such as <a href="https://www.springernature.com/gp/researchers/scigraph">SN Scigraph</a>, <a href="https://www.nature.com/subjects">Nature.com subject pages</a> and the underlying Nature ontologies portal.
        <br /><br />
        Michele holds a PhD in semantic web technologies from the <a href="https://kmi.open.ac.uk/">Knowledge Media Institute</a> (The Open University, UK) and advanced degrees in logic and philosophy of language from the <a href="https://www.unive.it/">University of Venice</a> (Italy). After his doctorate, he worked as a research associate at <a href="https://www.kcl.ac.uk/ddh">King's College Department of Digital Humanities</a> (London), where he contributed to influential digital humanities projects such as the <a href="https://www.poms.ac.uk/">People of Medieval Scotland</a> and the <a href="http://www.artofmaking.ac.uk/">Art of Making in Antiquity</a>.


      </div>

    </div>



    <div class="col-md-6" >

      <div style="margin-top: 5px;">
        <!-- <img style="max-width:100%; max-height:100%;" src="{% static 'legacy/2020-10-14-me.jpg' %}" alt="that's me"/ > -->
        <img style="max-width:60%; max-height:100%;" src="{% static 'legacy/me_cartoon.jpg' %}" alt="that's me"/ >
        </div>

    </div>

  </div>






  <div class="row" style="margin-top: 40px;">


    <div class="col-md-10" >

      <div style="margin-top: 80px; margin-bottom: 80px;">

      Office Details
      <hr>


      <p style="text-align: right;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4965.08978422934!2d-0.103715!3d51.52156500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b51a2739b9f%3A0xff5d8ec3906ff6f3!2sBriset%20St%2C%20Farringdon%2C%20London!5e0!3m2!1sen!2suk!4v1577454355202!5m2!1sen!2suk" width=100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </p>


      <p class="lead" style="text-align: left; margin-top: 15px; font-size: 200%;">
        Digital Science<br />
        6 Briset St,<br />
        London,<br />
        EC1M 5NR, UK<br />

      </p>

    </div>

    </div>


  </div>





  <div class="row" style="margin-top: 40px;">

    <div class="col-md-6" >

      <div style="margin-top: 80px; margin-bottom: 80px;">

        Contact me
        <hr>
    
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5YTPeA3LzK75sWqHYYZCXciwILDcI_sbAorM-v5sPTQmQjQ/viewform?embedded=true" width="600" height="844" frameborder="0" marginheight="0" marginwidth="0" style="margin-left: -30px;">Loading…</iframe>
    
      </div>
      

      
      </div>



    </div>


  </div>





  <div class="row" style="margin-top: 40px;">

    &nbsp;

  </div>


</div> <!-- /container -->


{% endblock bodycontent %}