{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
  <title>About | Michele Pasin</title>
{% endblock pagetitle %}


{% block navbar %}

    {% with thispage="about" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
    About
  </div>

  <div class="container">

      <div class="row">

        <div class="col-md-6">

          <div class="lead well">

            Hello. My name's Michele Pasin. I live in the UK and enjoy building digital information spaces.  
            <br /><br />
            See my <a href="{% url 'portfolioapp:bio' %}">bio</a> page or my <a href="http://www.linkedin.com/pub/michele-pasin/1/223/a0" target="_blank">CV</a>, to find out more. 

            <div style="margin-top: 20px;">
            <!-- <img style="max-width:100%; max-height:100%;" src="{% static 'legacy/2020-10-14-me.jpg' %}" alt="that's me"/ > -->
            <img style="max-width:100%; max-height:100%;" src="{% static 'legacy/me-1.jpg' %}" alt="that's me"/ >
            </div>


            <br />
              <div style="font-size: 14px; margin-top: 10px;">
              <hr>
                <b>Me, elsewhere on the web</b>: 
                {% include "portfolioapp/components/outlinks.html" %}
            </div>


            </div>


         	


            <div style="margin-top: 80px; margin-bottom: 80px;">

            <hr>

              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5YTPeA3LzK75sWqHYYZCXciwILDcI_sbAorM-v5sPTQmQjQ/viewform?embedded=true" width="600" height="844" frameborder="0" marginheight="0" marginwidth="0" style="margin-left: -30px;">Loading…</iframe>

          </div>
          

      
        </div>
        <!-- end of left md-6 -->


        <div class="col-md-6">
        
          <div id="mynetwork" style="width: 80%; border:0px solid lightgrey;">
          </div>

        </div>

      </div>
      {% comment %} first row ends {% endcomment %}        




      <div class="row" style="margin-top: 40px;">

        &nbsp;
      
      </div> 
      {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}





{% block extra_js %}

<script type="text/javascript" src="{% static 'js/vis-network.min.js' %}" ></script>

<script type="text/javascript">
  // create an array with nodes

  var nodes = new vis.DataSet([
    {% for t in topics_unique %}
        {% if t in top_topics %}
            {id: "{{t}}", label: "{{t}}", value : 20, color:'#09ed99'},
        {% else %}
            {id: "{{t}}", label: "{{t}}", value : 10 },
        {% endif %}     
    {% endfor %}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {% for t in topics_links %}
        {from: "{{t.0}}", to: "{{t.1}}"},
    {% endfor %}
  ]);

  // create a network
  var container = document.getElementById('mynetwork');
  var h = window.innerHeight - 200;
  container.style.height = h + "px";
  //console.log(w, w-20)
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: { 
      shape: "dot",  // ellipse, circle, database, box, text, dot, square, icon
      borderWidth: 1,
      borderWidthSelected: 2,
      color: {
        border: 'grey',
        background: 'lightgray',
        highlight: {
          border: '#2B7CE9',
          background: '#D2E5FF'
        },
        hover: {
          border: '#2B7CE9',
          background: '#D2E5FF'
        }
      },
      },
    edges: {
      shadow:{
        enabled: true,
        color: 'rgba(0,0,0,0.5)',
        size:10,
        x:5,
        y:5
      },
    },
    physics: {
      stabilization: false,
      barnesHut: {
        springLength: 100
      }
    },
  };
  var network = new vis.Network(container, data, options);

 function focusRandom() {
    //var nodeId = Math.floor(Math.random() * amountOfNodes);
    var ids = nodes.getIds();
    var nodeId = ids[Math.floor(Math.random()*ids.length)];

    var options = {
        // position: {x:positionx,y:positiony}, // this is not relevant when focusing on nodes
        scale: 1.0,
        offset: {x:0,y:0},
        animation: {
            duration: 1000,
            easingFunction: "easeInOutQuad",
        }
    };
    network.focus(nodeId, options);
    } 

  // start focus loop and repeat
  setInterval(focusRandom, 3000);

</script>



{% endblock extra_js %}
