{% extends "portfolioapp/components/base.html" %}
{% load static %}


{% block pagetitle %}
  <title>Sounds: {{itemtitle}} | Michele Pasin</title>
{% endblock pagetitle %}

{% block bodyclass %}is-wide{% endblock bodyclass %}


{% block bodycontent %}

  <p class="sectionlabel">
    <b>Sounds</b> <span class="sep">/</span>
    <a href="{% url 'portfolioapp:music' %}">all</a>
    <span class="sep">/</span> {{itemtitle}}
    {% if admin_change_url %}
      <span class="sep">|</span> <a href="{{admin_change_url}}" target="_blank" class="admin-flag">edit</a>
    {% endif %}
  </p>

  <article>

    <header class="articlehead">
      <h1>{{itemtitle}}</h1>
      <p class="articlemeta">{{return_item.short_title}}</p>
    </header>

    <hr>

    <div class="row">

      <div class="col-md-8">
        <div class="blogentry">{{itemdesc|safe}}</div>
      </div>

      <div class="col-md-4">
        <dl class="factlist">
          {% if datefrom %}
            <dt>Date</dt>
            <dd>{{datefrom|date:"M Y"}}{% if dateto %} &ndash; {{dateto|date:"M Y"}}{% endif %}</dd>
          {% endif %}

          <dt>Links</dt>
          {% for u in all_urls %}
            <dd><a class="url" href="{{u.0}}" target="_blank">{{u.1}}</a></dd>
          {% empty %}
            <dd class="text-muted">not available yet</dd>
          {% endfor %}
        </dl>
      </div>

    </div>

    {% if itemembed1 %}
      <div class="paragraph_embed">{{itemembed1|safe}}</div>
    {% endif %}

    {% if itemembed2 %}
      <div class="paragraph_embed">{{itemembed2|safe}}</div>
    {% endif %}

  </article>

{% endblock bodycontent %}
