{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}


{% block metadescription %}
  <meta name="description" content="{{itemtitle}} {{blog_entry|striptags|truncatewords:25}}">
{% endblock %}


{% block pagetitle %}
  <title>{{return_item.title}} | Blogs | Michele Pasin</title>
{% endblock pagetitle %}


{% block bodycontent %}

  <p class="sectionlabel">
    <b>Words</b> <span class="sep">/</span>
    <a href="{% url 'portfolioapp:words' %}?query=date&amp;type=blogs">blog</a>
    <span class="sep">/</span> {{return_item.pubdate|date:"j F Y"}}
  </p>

  <article>

    <header class="articlehead">
      <h1>{{itemtitle}}</h1>

      {% if return_item.tags.all %}
        <p class="articlemeta">
          {% for tag in return_item.tags.all %}<a href="{% url 'portfolioapp:words' %}?tag={{tag.name}}&amp;type=all">#{{tag.name}}</a>{% if not forloop.last %} {% endif %}{% endfor %}
        </p>
      {% endif %}

      {% if admin_change_url %}
        <p class="admin-note">
          Hello admin
          <span class="sep">/</span> <a href="{{admin_change_url}}" target="_blank">edit</a>
          <span class="sep">|</span> <a href="vscode://file/{{blog_source_file}}">edit in VSCode</a>
        </p>
      {% endif %}
    </header>

    <hr>

    <div class="blogentry">
      {{blog_entry|safe}}
    </div>

  </article>


  <div class="blocknote">
    <p class="sectionlabel"><b>Cite</b> <span class="sep">/</span> this blog post</p>
    <blockquote>
      Michele Pasin. <a href="{{return_item.get_absolute_url}}">{{return_item.title}}</a>.
      Blog post on www.michelepasin.org. Published on {{itempubdate}}.
    </blockquote>
  </div>


  <div class="blocknote">
    <p class="sectionlabel"><b>Talk back</b> <span class="sep">/</span> comments via github</p>
    <div class="utterances">
      <script src="https://utteranc.es/client.js"
              repo="lambdamusic/portfolio-site"
              issue-term="url"
              label="comment"
              theme="github-light"
              crossorigin="anonymous"
              async>
      </script>
    </div>
  </div>


  {% comment %} SECTION WITH SIMILAR PAPERS LIST {% endcomment %}
  {% include "portfolioapp/components/similar-papers.html" %}


{% endblock bodycontent %}


{% block extra_js %}
<script>
  // The old theme bolded the opening paragraph of every entry. Markdown
  // output has no class to hook, so tag it here.
  $(document).ready(function () {
    $("div.blogentry p:first").addClass("first-paragraph");
  });
</script>
{% endblock extra_js %}
