{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}



{% block pagetitle %}
  <title>Papers | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="papers" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
      {% if admin_change_url %}
      &nbsp;<a href="{{admin_change_url}}" target="_blanks" class="editbtn btn-xs btn-info">edit</a>
      {% endif %}
      Words > <a href="{% url 'portfolioapp:words' %}?query=date&type=papers">Papers</a> > {{year}} > <i>{{itemtitle}}</i>
  </div>

  <div class="container">


      <div class="row" style="margin-bottom:50px;">
          
        <div class="col-md-8">


          <p class="text-muted">Title:</p>

          <div class="lead -well">
            <h3><b>{{itemtitle}}</b></h3>
            {# <h2><b>{{itemtitle}}</b></h2> #}
          </div>


          <p class="text-muted">Year:</p>

          <div class="lead -well">
            <h3>{{year}}</h3>
          </div>



            {% if abstract %}

              <p class="text-muted">Abstract:</p>

              <blockquote class="lead">{{abstract|linebreaksbr}}</blockquote>

              <br />
            {% endif %}



            <p class="text-muted">Full reference:</p>

            <div class="well well-big lead">
              {{summary}} 
              {% if return_item.pdf_url %}<a href="{{return_item.pdf_url}}" title="Article: {{return_item.title}}">PDF</a>{% endif %}  
            </div>
            <br />

            
            {% if itemembed1 %}

              <div class="paragraph">
                {# <br /> #}
                {{itemembed1|safe}}
              </div>
            {% endif %}



            {% if return_item.pdf_url %}  
            <iframe src="{{return_item.pdf_url}}" title="Article: {{return_item.title}}" 
                width=100% height=800 allowfullscreen=true>

            </iframe>
            {% endif %}




          <br /><br />


        </div> 
        {% comment %} end of left col {% endcomment %}
      

        <div class="col-md-1 col-md-offset-1">


            {% if all_urls %}
            <p class="text-muted">Linkout:</p>

            <div class="-lead">

              {% for x in all_urls  %}
              <li><a href="{{x.0}}">{{x.1}}</a></li>
                {% if not forloop.last %}{% endif %}
              {% endfor %}

            </div>
            <br />
            {% endif %}


        </div>
        
      </div>




      {% comment %} SECTION WITH SIMILAR PAPERS LIST {% endcomment %}

      {% include "portfolioapp/components/similar-papers.html" %}







    <div class="row" style="margin-top: 60px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
