{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}



{% block metadescription %}
  <meta name="description" content="{{itemtitle}} {{blog_entry|striptags|truncatewords:25}}">
{% endblock %}


{% block pagetitle %}
  <title>Quotes | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="quotes" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}





{% block bodycontent %}




<div class="page-header">
  Quote 
  <!-- > {{title}} -->

</div>


  <div class="container">


      <div class="row " style="margin-bottom:50px; margin-top:30px;" >


        <div class="col-xs-12 col-md-5 -col-md-offset-1 -col-md-push-7" >

          <p style="color: #e8e5e5; margin-top: -30px;">

            <span style="font-size: 550%; line-height: 1;"><br />
              {{title}}
            </span>

          </p>


          
          <p style="color: #cbcbcb; margin-top: 40px;">
            
            <br />
            A quote from <cite title="{{source}}">
              {% if source_url %}<a href="{{source_url}}" class="-underline -text-muted" target="_blank">
                {% else %}<a class="-underline -text-muted">{% endif %}{{source}}</a></cite>

            <br />Saved on {{created}}.
          </p>

        
          
          <p style="margin-top: 10px;">
            {% if tags %}

            {% for tag in tags %}
              <a class="text-muted" href="{% url 'portfolioapp:quotes' %}?tag={{tag}}">#{{tag}}</a><br />
            {% endfor %}

            {% endif %}
          </p>      
          


        </div>
        



        <div class="col-xs-12 col-md-7 -col-md-pull-3">


          <blockquote class="quote-block">

            <p>{{quote_text|safe}}</p>	

            <br />
            <footer class="blockquote-footer">Words taken from <cite title="{{source}}">
              {% if source_url %}<a href="{{source_url}}" class="-underline -text-muted" target="_blank">
                {% else %}<a class="-underline -text-muted">{% endif %}{{source}}</a></cite></footer>
      
      
            </blockquote>
          


        </div>  {% comment %} end of left col {% endcomment %}
        
      







      </div>
      <!-- end of row -->




      {% comment %} SECTION WITH SIMILAR PAPERS LIST {% endcomment %}

      <!-- {% include "portfolioapp/components/similar-papers.html" %} -->







    <div class="row" style="margin-top: 60px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}





{% endblock extra_js %}
