{% extends "portfolioapp/components/base.html" %}

{% load static %}



{% block pagetitle %}
  <title>Projects | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="projects" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
	{% if admin_change_url %}
		&nbsp;<a href="{{admin_change_url}}" target="_blanks" class="editbtn btn-xs btn-info">edit</a>
	{% endif %}
	
    Projects > {{project.title}}

	&nbsp;&nbsp;&nbsp;
	{% for t in project.tags.all  %}
		<a href="{% url 'portfolioapp:projects' %}?k={{t.name}}" class="">#{{t.name|capfirst}}</a>{% if not forloop.last %}&nbsp;&nbsp;{% endif %}
	{% endfor %}
			
  </div>

  <div class="container">


		<div class="row">

				<br />
				<div class="col-md-6">
					{% comment %} <p class="text-muted">Description:</p> {% endcomment %}
					<p class="bluelinks_inside">{{project.description|safe}}</p>
					

					{% if project.embedcode1 %}

						<div class="paragraph_embed">
							{# <br /> #}
							{{project.embedcode1|safe}}
						</div>

					{% endif %}

					{% if project.embedcode2 %}
						<div class="paragraph_embed">
							<br />
							{{project.embedcode2|safe}}
						</div>

					{% endif %}



				</div>
		
				<div class="col-md-6 well">

					{# ROLE #}
					<span class="text-black">Role:</span>
						&nbsp;&nbsp;{{project.myrole|safe}}  <br />

					{% if  project.datefrom and project.dateto %}
						<span class="text-black">Date:</span>
						&nbsp;&nbsp;{{project.datefrom|date:"M Y"}} - {{project.dateto|date:"M Y"}}  <br />
					{% else %}
						{% if  project.datefrom %}
							<span class="text-black">Date:</span>
							&nbsp;&nbsp;{{project.datefrom|date:"M Y"}} <br />
						{% endif %}
					{% endif %}




					{% if  project.all_urls %}
						{% for u in project.all_urls %}
							<span class="text-black">Link:</span>
							&nbsp;&nbsp;<a class='url' href="{{u.0}}" target="_blank">{{u.1}}</a><br />
						{% endfor %}
					{% endif %}


				</div>

		</div>

		<div class="row" style="margin-top: 0px;">
		
			<hr>
			

			<div class="col-md-12" style="margin-top: 20px;">
					<p>Screenshots:</p>
					<br /><br />
				

					{# TILED SIZES #}
					{% for img in project_images_names  %}
						<div class="col-md-6 col-sm-6 project-thumbs -item_images">
							<div class="project-thumbnail">
							<a href="{% static 'manual_img/' %}{{ project.urlstub }}/{{ img }}" class="thumbnail">
							<img src="{% static 'manual_img/' %}{{ project.urlstub }}/{{ img }}">
							</a>
							</div>
						</div>
					{% endfor %}



			</div>
		
		</div>   <!-- /row -->


		{% comment %} SECTION WITH ALL PROJECTS {% endcomment %}

		
		<div class="row" style="margin-top: 80px; margin-bottom: 60px;">
			<hr>
			{% for p in ALL_PROJECTS %}

			
			<div class="col-md-3 thumb-div">
				<a href="{{p.get_absolute_url}}" class="thumbnail" title="{{p.title}}: {{p.short_title|truncatewords:10}}">
					{# NOTE: images are managed manually in STATIC FOLDER - thumbnail.png is hardcoded as the main one #}
					<img class="thumb-img" src="{% static 'manual_img/' %}{{ p.urlstub|lower }}/thumb.png" alt="Main image"/ >
				</a>
				
					
				<p class="text-center thumb-title"><a class="project-title {% if p.id == project.id %}project-active{% endif %}" href="{{p.get_absolute_url}}">{{p.title}}</a>
					<br />
					{% for t in p.tags.all  %}
						<a href="{% url 'portfolioapp:projects' %}?k={{t.name}}" class="keyword">{{t.name|capfirst}}</a>{% if not forloop.last %},&nbsp;{% endif %}
							
					{% endfor %}
				</p>
			</div>

			{% endfor %}
		</div>   <!-- /row -->


  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
