{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}



{% block metadescription %}
  <meta name="description" content="{{itemtitle}} {{blog_entry|striptags|truncatewords:25}}">
{% endblock %}


{% block pagetitle %}
  <title>Blogs | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="words" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}


  <div class="container">


      <div class="row " style="margin-bottom:50px;">

        

        <div class="col-xs-12 col-md-2 col-md-offset-1 col-md-push-7">

          <p style="color: #e8e5e5; margin-top: 10px;">
          <span style="font-size: 500%;">
					  {{return_item.pubdate|date:"M"}}
					</span>
          <span style="font-size: 700%;">
					  {{return_item.pubdate|date:"Y"}}
					</span>
          </p>


          
          {% if return_item.categories.all %}

              {% for cat in return_item.categories.all %}
                <a class="text-muted" href="?query=cat&type={{ttype}}&tag={{cat.slug}}">{{cat.name}}</a><br />
              {% endfor %}
            
              <hr>
          {% endif %}
            

          {% if return_item.tags.all %}

            {% for tag in return_item.tags.all %}
              <a class="text-muted" href="?query=tag&type={{ttype}}&tag={{tag.slug}}">#{{tag.name}}</a><br />
            {% endfor %}
        
          {% endif %}

        </div>
        



        <div class="col-xs-12 col-md-7 col-md-pull-3">

          <div>
            <h2 class="blogtitle"><b>{{itemtitle}}</b></h2>
          </div>
          {% if admin_change_url %}
          &nbsp;<a href="{{admin_change_url}}" target="_blanks" class="editbtn btn-xs btn-info">edit</a>
          {% endif %}

          <!-- <p>{{itempubdate}}</p> -->

          

            <div class="blogentry"> 

              <hr>


            {{blog_entry|safe}}

            </div>


         
            <div style="margin-bottom: 80px;"> 
              <p class="text-muted">Cite this blog post:</p>
              <hr>

              <div class="well well-big" >
                Michele Pasin. <a href="{{return_item.get_absolute_url}}" class="bluelink">{{return_item.title}}</a>. Blog post on www.michelepasin.org. Published on {{itempubdate}}.
              </div>
            </div>
<!-- 

            {% if 0 and all_urls %}
            <p class="text-muted">Linkout:</p>

            <div class="-lead">

              {% for x in all_urls  %}
              <li><a href="{{x.0|old_blog_url}}">{{x.1}}</a></li>
                {% if not forloop.last %}{% endif %}
              {% endfor %}

            </div>
            <br />
            {% endif %}
         -->

         <div style="margin-bottom: 80px;"> 
              <p class="text-muted">Comments:</p>
              <hr>
            <div id="disqus_thread" ></div>
              <script>
                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                  /*
                  var disqus_config = function () {
                  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  */
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://pundp.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

 
          </div> {% comment %} end of disqus outer div {% endcomment %}


        </div>  {% comment %} end of left col {% endcomment %}
        
      





      </div>




      {% comment %} SECTION WITH SIMILAR PAPERS LIST {% endcomment %}

      {% include "portfolioapp/components/similar-papers.html" %}







    <div class="row" style="margin-top: 60px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}


<script>

  $( document ).ready(function() {
    $("div.blogentry p:first").addClass( "first-paragraph" );
});


</script>


{% endblock extra_js %}
