{% extends "portfolioapp/components/base.html" %}
{% load static %}


{% block pagetitle %}
  <title>Project: {{return_item.title}} | Michele Pasin</title>
{% endblock pagetitle %}

{% block bodyclass %}is-wide{% endblock bodyclass %}


{% block bodycontent %}

  <p class="sectionlabel">
    <b>Projects</b> <span class="sep">/</span>
    <a href="{% url 'portfolioapp:projects' %}">all</a>
    <span class="sep">/</span> {{return_item.title}}
    {% if admin_change_url %}
      <span class="sep">|</span> <a href="{{admin_change_url}}" target="_blank" class="admin-flag">edit</a>
    {% endif %}
  </p>

  <article>

    <header class="articlehead">
      <h1>{{return_item.title}}</h1>
      <p class="articlemeta">
        {% for t in return_item.tags.all %}<a href="{% url 'portfolioapp:projects' %}?k={{t.name}}">#{{t.name}}</a>{% if not forloop.last %} {% endif %}{% endfor %}
      </p>
    </header>

    <hr>

    <div class="row">

      <div class="col-md-8">

        <div class="blogentry">{{return_item_desc|safe}}</div>

        {% if return_item.embedcode1 %}
          <div class="paragraph_embed">{{return_item.embedcode1|safe}}</div>
        {% endif %}

        {% if return_item.embedcode2 %}
          <div class="paragraph_embed">{{return_item.embedcode2|safe}}</div>
        {% endif %}

      </div>

      <div class="col-md-4">
        <dl class="factlist">
          <dt>Role</dt>
          <dd>{{return_item.myrole|safe}}</dd>

          {% if return_item.datefrom %}
            <dt>Date</dt>
            <dd>{{return_item.datefrom|date:"M Y"}}{% if return_item.dateto %} &ndash; {{return_item.dateto|date:"M Y"}}{% endif %}</dd>
          {% endif %}

          {% if return_item.all_urls %}
            <dt>Links</dt>
            {% for u in return_item.all_urls %}
              <dd><a class="url" href="{{u.0}}" target="_blank">{{u.1}}</a></dd>
            {% endfor %}
          {% endif %}
        </dl>
      </div>

    </div>

  </article>


  {% if project_images_names %}
    <div class="blocknote">
      <p class="sectionlabel"><b>Screenshots</b> <span class="sep">/</span> ....</p>
      {% for img in project_images_names %}
        <a href="{% static 'manual_img/' %}{{ return_item.urlstub }}/{{ img }}" class="thumbnail shot">
          <img src="{% static 'manual_img/' %}{{ return_item.urlstub }}/{{ img }}" alt="{{return_item.title}} screenshot">
        </a>
      {% endfor %}
    </div>
  {% endif %}


  <div class="blocknote">
    <p class="sectionlabel"><b>Projects</b> <span class="sep">/</span> all of them</p>
    <div class="tilegrid">
      {% for p in ALL_PROJECTS %}
        <div class="thumb-div">
          <a href="{{p.get_absolute_url}}" class="thumbnail" title="{{p.title}}: {{p.short_title|truncatewords:10}}">
            <img class="thumb-img" src="{% static 'manual_img/' %}{{ p.urlstub|lower }}/thumb.png" alt="{{p.title}}">
          </a>
          <p class="thumb-title">
            <a class="project-title {% if p.id == return_item.id %}is-current{% endif %}" href="{{p.get_absolute_url}}">{{p.title}}</a><br>
            {% for t in p.tags.all %}<a href="{% url 'portfolioapp:projects' %}?k={{t.name}}" class="keyword-sm">{{t.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock bodycontent %}
