{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}


{% block metadescription %}
  <meta name="description" content="{{itemtitle}} {{abstract|striptags|truncatewords:25}}">
{% endblock %}


{% block pagetitle %}
  <title>{{itemtitle}} | Papers | Michele Pasin</title>
{% endblock pagetitle %}


{% block bodycontent %}

  <p class="sectionlabel">
    <b>Words</b> <span class="sep">/</span>
    <a href="{% url 'portfolioapp:words' %}?query=date&amp;type=papers">paper</a>
    <span class="sep">/</span> {{year}}
  </p>

  <article>

    <header class="articlehead">
      <h1>{{itemtitle}}</h1>
      <p class="articlemeta">{{year}}</p>

      {% if admin_change_url %}
        <p class="admin-note">
          Hello admin <span class="sep">/</span>
          <a href="{{admin_change_url}}" target="_blank">edit</a>
        </p>
      {% endif %}
    </header>

    <hr>

    {% if abstract %}
      <p class="sectionlabel"><b>Abstract</b> <span class="sep">/</span> ....</p>
      <blockquote>{{abstract|linebreaksbr}}</blockquote>
    {% endif %}

    <p class="sectionlabel"><b>Reference</b> <span class="sep">/</span> full citation</p>
    <blockquote>
      {{summary}}
      {% if return_item.pdf_url %}<a href="{{return_item.pdf_url}}" title="Article: {{return_item.title}}">PDF</a>{% endif %}
    </blockquote>

    {% if all_urls %}
      <p class="sectionlabel"><b>Linkout</b> <span class="sep">/</span> elsewhere</p>
      <ul class="linkout">
        {% for x in all_urls %}
          <li><a href="{{x.0}}">{{x.1}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if itemembed1 %}
      <div class="paragraph_embed">{{itemembed1|safe}}</div>
    {% endif %}

    {% if return_item.pdf_url %}
      <iframe class="pdfframe" src="{{return_item.pdf_url}}"
              title="Article: {{return_item.title}}"
              width="100%" height="800" allowfullscreen="true"></iframe>
    {% endif %}

  </article>


  {% comment %} SECTION WITH SIMILAR PAPERS LIST {% endcomment %}
  {% include "portfolioapp/components/similar-papers.html" %}


{% endblock bodycontent %}
