{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}



{% block pagetitle %}
  <title>Blogs | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="words" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
      {% if admin_change_url %}
      &nbsp;<a href="{{admin_change_url}}" target="_blanks" class="editbtn btn-xs btn-info">edit</a>
      {% endif %}
      Words > <a href="{% url 'portfolioapp:words' %}?query=date&type=blogs">Blogs</a> > {{year}} 
      
      {% comment %}
      > <i>{{itemtitle}}</i>
      {% endcomment %}
         
  </div>

  <div class="container">


      <div class="row" style="margin-bottom:50px;">
          
        <div class="col-md-8">


          {% comment %}<p class="text-muted">Title:</p>  {% endcomment %}

          <div>
            <h2 class="blogtitle"><b>{{itemtitle}}</b></h2>
          </div>


          <!-- <p>{{itempubdate}}</p> -->

          

            <div class="blogentry"> 

              <hr>


            {{blog_entry|safe}}

            </div>


          <hr>
            <p class="text-muted">Cite this blog post:</p>

            <div class="well well-big lead">
              Michele Pasin. <a href="{{return_item.get_absolute_url}}" class="bluelink">{{return_item.title}}</a>. Blog post on www.michelepasin.org. Published on {{itempubdate}}.
            </div>
            <br />

        


          <br /><br />


        </div> 
        {% comment %} end of left col {% endcomment %}
      

        <div class="col-md-1 col-md-offset-1">


            {% if all_urls %}
            <p class="text-muted">Linkout:</p>

            <div class="-lead">

              {% for x in all_urls  %}
              <li><a href="{{x.0|old_blog_url}}">{{x.1}}</a></li>
                {% if not forloop.last %}{% endif %}
              {% endfor %}

            </div>
            <br />
            {% endif %}


        </div>
        
      </div>




      {% comment %} SECTION WITH SIMILAR PAPERS LIST {% endcomment %}

      {% include "portfolioapp/components/similar-papers.html" %}







    <div class="row" style="margin-top: 60px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
