{% extends "portfolioapp/components/base.html" %}
{% load static %}


{% block pagetitle %}
  <title>Events | Michele Pasin</title>
{% endblock pagetitle %}


{% block bodycontent %}

  <p class="sectionlabel"><b>Events</b> <span class="sep">/</span> talks, panels, workshops</p>

  {% for pub in return_items %}

    {% ifchanged pub.pubdate|date:"Y" %}
      <p class="ghostdate ghostdate--xl">{{pub.pubdate|date:"Y"}}</p>
    {% endifchanged %}

    <article class="speakingitem">

      <p class="eventdate {% if pub.isforthcoming %}is-forthcoming{% endif %}">{{pub.pubdate|date:"d M Y"}}</p>

      <p class="eventtitle"><a href="{{pub.get_absolute_url}}">{{pub.title|capfirst}}</a></p>

      <p class="eventwhere">
        {% if pub.pubplace %}{{pub.pubplace}}{% endif %}{% if pub.conference %} &middot; {{pub.conference}}{% endif %}{% if pub.extrainfo %} &middot; {{pub.extrainfo|safe}}{% endif %}
        {% if pub.conferenceurl %}<br><a href="{{pub.conferenceurl}}" target="_blank" class="ext_link">{{pub.conferenceurl|truncatechars:60}}</a>{% endif %}
      </p>

    </article>

  {% endfor %}

{% endblock bodycontent %}
