{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
  <title>Events | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="events" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
    Events
  </div>

  <div class="container">


			<div class=" row_pubitem">

 			 	<div class="col-sm-10 col-md-10" style="margin-top: 30px; margin-bottom: 60px;">

					{% for pub in return_items %}

						
						{% ifchanged pub.pubdate|date:"Y" %}
	
						<div class='row ' style="margin-bottom: 50px; {% if not forloop.first %}margin-top: 100px;{% endif %}">
							<div class="col-md-10" style="margin-bottom: -200px; margin-top: -100px;" >
							<p style="color: #e8e7e791; font-size: 2000%; ">{{pub.pubdate|date:"Y"}}</p>
							</div>
						</div>
							
						{% endifchanged %}
							

						<div class='row speakingitem' style="margin-bottom: 10px;">

							
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin-bottom: 5px;">

								<span class='label {% if pub.isforthcoming %}label-info{% else %}label-warning{% endif %}'>{{pub.pubdate|date:"d M Y"}}</span>&nbsp;								
							</div>
							
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="-padding-left: 30px";>
								{% if  pub.pubplace %}<span class='pubplace text-black'> {{pub.pubplace}}</span>{% endif %} - {% if  pub.conference %}<span class='conference -text-black'> {{pub.conference}}</span>{% endif %}{% if  pub.extrainfo %}<span class='extrainfo -text-black'> {{pub.extrainfo|safe}}</span>{% endif %}. <a href="{{pub.conferenceurl}}" target="_blank" class="ext_link">{{pub.conferenceurl|truncatechars:40}}</a>

								<br />
								 "<a href="/papers/{{pub.id}}/" >{{pub.title|capfirst}}</a>"								
							</div>
							

							{% if not forloop.last %}
								<hr>
							{% endif %}


						</div>

					{% endfor %}

 			 	</div>


		</div>




    <div class="row" style="margin-top: 20px;">
    
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
