{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
  <title>Projects | Michele Pasin</title>
{% endblock pagetitle %}


{% block navbar %}

    {% with thispage="projects" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}





  <div class="page-header">
    Projects {% if active_tag != "all" %}> <span class="keyword">#{{active_tag|capfirst}}</span> | <a href="?k=all" class="">View all</a>{% endif %}
  </div>

  <div class="container">




    <div class="row">
    {% for p in projects %}

      
    <div class="col-md-3 thumb-div">
          <a href="{{p.get_absolute_url}}" class="thumbnail" title="{{p.title}}: {{p.short_title|truncatewords:10}}">
            {# NOTE: images are managed manually in STATIC FOLDER - thumbnail.png is hardcoded as the main one #}
            <img class="thumb-img" src="{% static 'manual_img/' %}{{ p.urlstub|lower }}/thumb.png" alt="Main image"/ >
          </a>
          <p class="text-center thumb-title"><a class="project-title" href="{{p.get_absolute_url}}">{{p.title}}</a>
            <br />
              {% for t in p.tags.all  %}
                <a href="{% url 'portfolioapp:projects' %}?k={{t.name}}" class="keyword">{{t.name|capfirst}}</a>{% if not forloop.last %},&nbsp;{% endif %}
                    
              {% endfor %}
          </p>
    </div>

    {% endfor %}
    </div>



    <div class="row" style="margin-top: 60px;">
    
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
