{% extends "portfolioapp/components/base.html" %}
{% load extrafilters %}
{% load static %}


{% block pagetitle %}
  <title>Quotes | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="quotes" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
    Quotes {% if tag %} - by keyword | <a href="?query=date&type=all" class="">View all</a>{% endif %}

  </div>

  <div class="container">




	<div class="row">

					
		{% if tag %}

		<div class="col-sm-7 col-md-12 text-left">
			<p style="color: #e8e5e5; font-size: 800%; ">
			#{{tag}}
		  	</p>
		</div>

			{% comment %} **** D3 CHART ***** {% endcomment %}

			{% if 1 %}
		
			<div class="col-md-12" style="margin-bottom: 30px;">
		
				<span class="text-muted">Top related subjects:</span>
				
				<div id="graph_div" class="-col-md-12" style="min-height: 500px; border: lightgray 0.1px solid; overflow: hidden;">       
		
				</div>
			
			</div>
			{% endif %}

			
		{% else %}

		
		<div class="col-sm-7 col-md-12 text-left">

			
			<div class="row">

			<div class="text-muted col-md-3">
				View:
				
				<a class="h1links {% if ttype == 'all' %}project-active{% endif %}" href="?query=date&type=all"> all</a>&nbsp;|
				
				<a class="h1links {% if ttype == 'papers' %}project-active{% endif %}" href="?query=date&type=papers"> research papers</a>&nbsp;|
				
				<!-- <a class="h1links {% if ttype == 'blogs' %}project-active{% endif %}" href="?query=date&type=blogs"> blogs</a>&nbsp; -->

				{% if admin_change_url %}
				<a class="h1links {% if ttype == 'review' %}project-active{% endif %}" href="?query=date&type=review" style="background: yellow;"> review</a>&nbsp;
				{% endif %}
				
				{% comment %}
				<a class="h1links -text-muted" href="?query=date&type=misc"> misc</a>&nbsp;
				{% endcomment %}
				
			</div>
				

			<div class="text-muted col-md-3">			
				
				Order by:
				<a class="h1links {% if query == 'date' %}project-active{% endif %}" href="?query=date"> date</a>&nbsp;|
				
				<a class="h1links {% if query == 'type' %}project-active{% endif %}" href="?query=type&type=papers"> type</a>&nbsp;|
				
				<a class="h1links {% if query == 'project' %}project-active{% endif %}" href="?query=project&type=papers"> project</a>
			</div>

			<div class="text-muted col-md-2">

				Format: <a class="h1links -text-muted" href="?format=txt">txt</a> |
				<a class="h1links -text-muted" href="?format=bibtex&query=type">bib</a>

				
			</div>


			<div class="text-muted col-md-4 text-right">

				&nbsp;

			</div>



			</div>
			<!-- end of inner row -->

		</div>
		<!-- end of col-sm-7 -->


		{% endif %}
		<!-- end of if-tag -->
			


	</div>  
	
	<!-- end of row -->




	
	{% if not tag %}
		
	<div class="row margin20Top margin50Bottom ">

		<hr class=" margin50Bottom  ">	

		<div class="col-sm-3 col-md-3">



			<p style="color: #e8e5e5; font-size: 600%; ">
				Tags
			  </p>




		</div>


		
		<div class="col-sm-9 col-md-9 text-right">


					
			{% for tag in tags  %}

					
			{% if tag.1 > 1 %}
				<a href="?tag={{tag.0}}" title="{{tag.1}} quotes" style="{{tag.1|tagsize_quotes}}">{{tag.0}}</a>&nbsp;
			{% endif %}
									
			{% endfor %}
			




		</div>

	</div>  

	{% endif %}
	
	<!-- end of row -->





	
	<div class="row row_pubitem">

		{% for obj in return_items %}

			<p> <a href="{{obj.filename}}/">{{obj.title}}</a>
				<small>{{obj.tags}}</small>
			</p>

		{% endfor %}
	</div>





    <div class="row" style="margin-top: 60px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}




{% block extra_js %}


{% if 1 %}

  {% comment %} JS for D3 Graph {% endcomment %}

   {% include 'portfolioapp/components/snippet_graph.html' %}

{% endif %}
  
  

{% endblock %}
