{% extends "portfolioapp/components/base.html" %}

{% load static %}

{% block navbar %}

    {% with thispage="music" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}



    {% with thispage=sounds_subpage %}

    	{% include "portfolioapp/components/sounds-navbar.html" %}

    {% endwith %}


  <div class="container">

		
		<div class="row" style="margin-bottom: 50px;">
			
			
		<div class="col-md-10" style="margin-top: 30px;">
				
			
			<blockquote>
			  <p>Live coding (sometimes referred to as 'on-the-fly programming', 'just in time programming' and related term 'live programming') is a programming practice centred upon the use of improvised interactive programming. Live coding is often used to create sound and image based digital media, and is particularly prevalent in computer music, combining algorithmic composition with improvisation.</p>
			  <footer>Wikipedia <cite title="Livedoding on wikipedia"><a href="https://en.wikipedia.org/wiki/Live_coding" style="color: grey;">https://en.wikipedia.org/wiki/Live_coding</a></cite></footer>
			</blockquote>
			
			</div>
		</div>
		

		{% for p in items %}
		<div class="row" style="margin-bottom: 80px;">
				  

		<div class="col-md-6">
			  {% if p.embedcode1 %}
		    {{p.embedcode1|safe}}
			{% endif %}
		  </div>

		  <div class="col-sm-4 col-md-4 bluelinks_inside">
		      <h4><a href="{{p.urlstub|lower}}" title="See details">{{p.title}}</a></h4>
		  		<small class="text-muted">{{p.date|date:"Y"}}</small>
		      <p class="-lead">{{p.short_title}}</p>
		      <p class="-lead">{{p.description|safe}}</p>
		  </div>
		  


		  
		  
		</div>
		<hr>
		{% endfor %}

		

    <div class="row" style="margin-top: 40px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
