{% extends "portfolioapp/components/base.html" %}
{% load static %}


{% block pagetitle %}
  <title>Sounds: Kryos Project | Michele Pasin</title>
{% endblock pagetitle %}

{% block bodyclass %}is-wide{% endblock bodyclass %}


{% block bodycontent %}

  {% with thispage=sounds_subpage %}
    {% include "portfolioapp/components/sounds-navbar.html" %}
  {% endwith %}

  <blockquote>
    <p><b>{{items.0.title}} {{items.0.datefrom}}</b></p>
    <p>{{items.0.short_title}}</p>
    <p>{{items.0.description}}</p>
    {% for u in items.0.all_urls %}
      <footer><cite><a href="{{u.0}}" target="_blank">{{u.1}}</a></cite></footer>
    {% endfor %}
  </blockquote>

  {% if items.0.embedcode1 %}
    <div class="paragraph_embed">{{items.0.embedcode1|safe}}</div>
  {% endif %}

{% endblock bodycontent %}
