{% extends "portfolioapp/components/base.html" %}

{% load static %}


{% block pagetitle %}
  <title>Contact | Michele Pasin</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="contact" %}

    {% include "portfolioapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

<div class="page-header">
    Contact Me
</div>

<div class="container">

  <div class="row">

    <div class="col-md-6">

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5YTPeA3LzK75sWqHYYZCXciwILDcI_sbAorM-v5sPTQmQjQ/viewform?embedded=true" width="800" height="844" frameborder="0" marginheight="0" marginwidth="0" style="margin-left: -80px;">Loading…</iframe>

    </div>

  </div>

  <div class="row" style="margin-top: 20px; margin-bottom: 80px;">

      Office Details
    <hr>

      <div class="col-md-6">

        <p class="lead">
            Digital Science<br />
            6 Briset St,<br />
            London,<br />
            EC1M 5NR, UK<br />

      </p>

      <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4965.08978422934!2d-0.103715!3d51.52156500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b51a2739b9f%3A0xff5d8ec3906ff6f3!2sBriset%20St%2C%20Farringdon%2C%20London!5e0!3m2!1sen!2suk!4v1577454355202!5m2!1sen!2suk" width=800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </p>

      </div>

      </div>

    {% comment %} second row ends {% endcomment %}


		




  </div><!-- /container -->


{% endblock bodycontent %}



{% block extra_js %}

{% endblock extra_js %}
