


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'portfolioapp:home' %}">michelepasin<sup style="color: red;">&nbsp;.org</sup></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li {% if thispage == "projects" %}class="active"{% endif %}>
          <a href="{% url 'portfolioapp:projects' %}">Projects</a></li>

        <li {% if thispage == "words" or thispage == "papers" %}class="active"{% endif %}>
            <a href="{% url 'portfolioapp:words' %}">Words</a></li>

       <li {% if thispage == "music" %}class="active"{% endif %}>
            <a href="{% url 'portfolioapp:music' %}">Sounds</a></li>

        <li {% if thispage == "events" %}class="active"{% endif %}>
          <a href="{% url 'portfolioapp:events' %}">Events</a></li>
          
          {% comment %}

        <li {% if thispage == "photos" %}class="active"{% endif %}>
          <a href="{% url 'portfolioapp:photos' %}">Photos</a></li>
          {% endcomment %}

        <li 
        {% if thispage == "about" %}class="active"{% endif %}
          ><a href="{% url 'portfolioapp:about' %}">About</a></li>

          <!-- <li>
            <a href="/blog" target="_blank">Blog</a></li> -->
            

      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>
