


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'portfolioapp:home' %}">michelepasin<sup style="color: red;">&nbsp;.org</sup></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li {% if thispage == "projects" %}class="active"{% endif %}>
          <a href="{% url 'portfolioapp:projects' %}">Projects</a></li>

        <li {% if thispage == "words" or thispage == "papers" %}class="active"{% endif %}>
            <a href="{% url 'portfolioapp:words' %}">Words</a></li>

       <li {% if thispage == "music" %}class="active"{% endif %}>
            <a href="{% url 'portfolioapp:music' %}">Sounds</a></li>

        <li {% if thispage == "events" %}class="active"{% endif %}>
          <a href="{% url 'portfolioapp:events' %}">Events</a></li>
          
          {% comment %}

        <li {% if thispage == "photos" %}class="active"{% endif %}>
          <a href="{% url 'portfolioapp:photos' %}">Photos</a></li>
          {% endcomment %}

        <li 
        {% if thispage == "about" %}class="active"{% endif %}
          ><a href="{% url 'portfolioapp:about' %}">About</a></li>

          <!-- <li>
            <a href="/blog" target="_blank">Blog</a></li> -->
          

        <li>
          <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch">
            <span id="searchGlyph" class="glyphicon glyphicon-search"></span> <span class="hidden-sm hidden-md hidden-lg">Search</span>
          </a>
      </li>




      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>



<!-- Search Modal -->
<div id="modalSearch" class="modal fade" role="dialog">
  <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search michelepasin.org</h4>
          </div>
          <div class="modal-body">


            <script>
              (function ()
              {
                  var cx = 'c23e79d025688b327:nr0bhziz1xo';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
              })();
          </script>
          <gcse:search></gcse:search>
          
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>

  </div>
</div>
