{% extends "portfolioapp/base.html" %}

{% load static %}

{% block navbar %}

    {% with thispage="home" %}

    {% include "portfolioapp/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

    <div class="page-header">
      <h1>Oops!</h1>
    </div>


    <div class="container">


      <div class="row">

        <div class="col-md-12" style="margin-top: 20px;">
          {# <hr>#}
         <p class="lead lead-plus">Something went wrong.</p>
         <p class="lead">Exception Message:
           <pre>{{ exception }}</pre>
         </p>

         <hr>
         </div>

      </div>



      <div class="row">


      </div>



</div> <!-- /container -->


    <div class="container margin50">


    </div> <!-- /container -->


  {% endblock bodycontent %}
