

  <a href="http://kcl.academia.edu/MichelePasin" target="_blank">Academia</a> | 
  <a href="https://github.com/lambdamusic" target="_blank">GitHub</a> | 
  <a href="https://scholar.google.com/citations?user=zj-99x0AAAAJ&hl=en" target="_blank">Google Scholar</a> | 
  <a href="https://www.instagram.com/lambdamusic/" target="_blank">Instagram</a> |
  <a href="http://www.linkedin.com/pub/michele-pasin/1/223/a0" target="_blank">LinkedIn</a> |
  <a href="http://www.mendeley.com/profiles/michele-pasin/" target="_blank">Mendeley</a> |
  <a href="http://orcid.org/0000-0001-8909-7766" target="_blank">Orcid</a> |
  <a href="http://www.slideshare.net/mpasin" target="_blank">SlideShare</a> |
  <a href="https://soundcloud.com/magicrebirth" target="_blank">Soundcloud</a> |
  <a href="http://stackoverflow.com/users/109304/magicrebirth" target="_blank">StackOverflow</a> |
  <a href="http://twitter.com/#!/lambdaman" target="_blank">Twitter</a> |
  <a href="https://vimeo.com/lambdamusic" target="_blank">Vimeo</a>