{% load extrafilters %}
{% load static %}




    <div class="row">
      <h5 class="text-muted">See also:</h5>
      </div>


      {% for group_and_pubs in all_papers_list %}

      <div class="row row_pubitem">

        <hr>

        <div class="col-sm-2 col-md-3">
          <p style="color: lightgrey; font-size: 300%; ">{{group_and_pubs.0}}</p>
        </div>


        <div class="col-sm-7 col-md-9">


        {% for pub in group_and_pubs.1 %}

        <br />

          <div class='pubitem'>


            {% if pub.pubtype.name == "Blog" %}
            <p class='lead' style="font-size: 13px;">
              <span class='label label-info'>blog</span>&nbsp;
              <a {% if pub.id != return_item.id %}href="{{pub.get_absolute_url}}"{% endif %} class="bluelink {% if pub.id == return_item.id %}paper-active{% endif %}" {% if pub.id == return_item.id %}title="The article on this page"{% endif %}>{{pub.title|capfirst}}</a>
              <!-- <br /> -->
              <!-- <span class="">{{pub|printmanyauthors}}</span> -->
            </p>

            {% else %}


           
            <!-- <small class="text-muted">{{pub.pubdate|date:"M Y"}}</small> -->

            <p class='lead' style="font-size: 13px;">
              <span class='label label-warning'>paper</span>&nbsp;
              <a {% if pub.id != return_item.id %}href="{{pub.get_absolute_url}}"{% endif %} class="bluelink {% if pub.id == return_item.id %}paper-active{% endif %}" {% if pub.id == return_item.id %}title="The article on this page"{% endif %}>{{pub.title|capfirst}}</a>
              <!-- <br />
              <span class="">{{pub|printmanyauthors}}</span> -->
            </p>


            <p class="pubinfo text-muted" style="margin-top: -15px;">

              {% if  pub.journal %}
                <span class='journal'> {{pub.journal}},</span>
              {% endif %}
              {% if  pub.conference %}
                <span class='conference'> {{pub.conference}},</span>
              {% endif %}
              {% if  pub.pubplace %}
                <span class='pubplace'> {{pub.pubplace}},</span>
              {% endif %}
              {% if pub.isforthcoming %}
                <span class='text-warning'> (forthcoming). </span>
              {% else %}
                <span class='pubdate'> {{pub.pubdate|date:"M Y"}}.</span>
              {% endif %}
              {% if  pub.extrainfo %}
                <span class='extrainfo'> {{pub.extrainfo|safe}}</span>
              {% endif %}
              {# {% for u in pub.all_urls %} #}
              {# 	<a class='url' href="{{u.0}}" style="color: #666;"> [{{u.1}}]</a> #}
              {# {% endfor %} #}

            </p>
            {% endif %}





            {% if not forloop.last %}
              <hr>
            {% endif %}


          </div>

        {% endfor %}


        </div>



      </div>

      {% endfor %}
