{% extends "researchapp/base.html" %}

{% load static %}

{% block navbar %}

    {% with thispage="home" %}

    {% include "researchapp/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <ol class="breadcrumb">
      <li><a href="{% url 'researchapp:home' %}">Home</a></li>
      <li class="active">Home</li>  
    </ol>

    <div class="page-header">
      <h1>Home
        {% if entities %}
          <a class="btn btn-sm btn-default" href="{% url 'researchapp:home' %}">home</a>        
        {% endif %}
      </h1>
    </div>



<div class="container">


    <div class="row">

          Content here

     </div> <!-- /row -->

</div> <!-- /container -->



  {% endblock bodycontent %}
