{% extends "new_researchapp/base.html" %}

{% load static %}

{% block navbar %}

    {% with thispage="home" %}

    {% include "new_researchapp/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}

  <div class="page-header">
    Home
  </div>

  <div class="container">


      <div class="row">

        <h4>Static Experiments</h4>
        <hr>


        <p>TIP: use the <code>/new_researchapp/static/filename</code> folder to render HTML files as is </p>

        
        {% for x in  static_templates %}
          <li><a href="static/{{x}}">/static/{{x}}</a></li> 
        {% endfor %}
          

      </div>



  </div> <!-- /container -->


{% endblock bodycontent %}
