{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block page_specific_inner %}


  		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		
		<br><br><br>

		
		<div class="row">
			
			<div class="col-md-10">
		
				<h5 style="color: grey;">The following bio can be used for events and workshops.</h5>
				<hr >
				<br />
				
				<p class="lead">

					<a href="http://www.michelepasin.org/">Michele Pasin</a> is a data scientist with a focus on data architecture, enterprise metadata management and semantic technologies. 
					<br /><br />
					Michele works for <a href="https://www.digital-science.com/">Digital Science</a>, a technology company focusing on strategic investments into startup companies that support the research lifecycle. At Digital Science, Michele is the product lead for the <a href="https://www.dimensions.ai/dimensions-apis/">Dimensions Analytics API</a>, a research analytics tool that allows to draw statistics and insights from the millions of publications, grants, clinical trials and patents indexed by <a href="https://www.dimensions.ai/">Dimensions.ai</a>. 
					<br /><br />
					Prior to that, Michele worked at Springer Nature where he led the development of <a href="https://www.springernature.com/gp/researchers/scigraph">Springer Nature’s Scigraph</a> project, a large and highly integrated open linked data platform. Also, he was instrumental in projects like <a href="https://www.nature.com/subjects">Nature’s subject pages</a> (a dynamic section of the website that allow users to navigate content by topic) and the ontologies portal (a public repository of knowledge models used at Nature). 
					<br /><br />
					Michele holds a PhD in semantic web technologies from the <a href="https://kmi.open.ac.uk/">Knowledge Media Institute</a> (The Open University, UK) and advanced degrees in logic and philosophy of language from the <a href="https://www.unive.it/">University of Venice</a> (Italy). Previously, he was a research associate at <a href="https://www.kcl.ac.uk/ddh">King's College Department of Digital Humanities</a> (London), where he contributed to influential digital humanities projects such as the <a href="https://www.poms.ac.uk/">People of Medieval Scotland</a> and the <a href="http://www.artofmaking.ac.uk/">Art of Making in Antiquity</a>. 

				</p>	
		
			</div>
			

		
		</div>


		

	
{% endblock %}







