{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block page_specific_inner %}


  		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		
		<br><br><br>



				{% comment %} <iframe width="800" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=London+N1+9XW&amp;aq=&amp;sll=51.536604,-0.225178&amp;sspn=0.023944,0.054073&amp;ie=UTF8&amp;hq=&amp;hnear=N1+9XW,+United+Kingdom&amp;t=m&amp;ll=51.53379,-0.121536&amp;spn=0.018687,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=London+N1+9XW&amp;aq=&amp;sll=51.536604,-0.225178&amp;sspn=0.023944,0.054073&amp;ie=UTF8&amp;hq=&amp;hnear=N1+9XW,+United+Kingdom&amp;t=m&amp;ll=51.53379,-0.121536&amp;spn=0.018687,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>	 {% endcomment %}

				<iframe width="800" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19858.665661933843!2d-0.1292581056089029!3d51.52544804364965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b3e467eeb79%3A0xab1c3ed14c91a5e6!2sDigital+Science!5e0!3m2!1sen!2suk!4v1551462122910"></iframe>

		<br><br>		
	
		
		<div class="row">
			
			<div class="col-md-6">
		
				<h3>Office details:</h3>
				
				<p class="lead">
					{# Gifts should be sent to: #}
					{# <br /><br /> #}
					Michele Pasin<br />
					Digital Science<br />
					90 York Way<br />
					London N1 9AG<br />

					<br />		
				</p>	
		
			</div>
			

		
		</div>


		


		<div class="row" >
						
			<div class="col-md-8">
				
				<h3>Get in touch:</h3>
				
				<br>
				
				{% ifequal success "sent" %}
				<div class="alert alert-success">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>Thanks!</strong> I'll get back to you shortly.
				</div>
				{% endifequal %}
				{% ifequal success "error" %}
				<div class="alert alert-error">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>There was an error!</strong> Fill in all the fields and try submitting again.
				</div>
				{% endifequal %}
				
								
	            <form  role="form">
	                <div class="form-group ">
	                    <input id="name" name="name" type="text" class="form-control" placeholder="Name"> 
	                </div>
	                <div class="form-group ">
	                    <input id="email" name="email" type="email" class="form-control"  placeholder="Email address">
	                </div>
	                <div  class="form-group ">
	                    <textarea id="message" name="message" class="form-control"  placeholder="Your Message" rows="5"></textarea>
	                </div>
              	    <div class="form-group ">
					  	<input id="test" name="test" type="text" class="form-control" placeholder="Captcha: what is 2 + 2 ?"> 
	                </div>
			  	  	<br>
	                <div class="form-group">
	                    <button id="contact-submit" type="submit" class="btn btn-primary input-medium ">Send</button>
	                </div>
	            </form>
	        </div>
		</div>

			
			<br><br><br>		
			


	
{% endblock %}







