{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block page_specific_inner %}


  		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		


{% if 0 %}

	
	
			<div class="row" style="margin-top: 60px; ">
							
				<div class="col-md-8">
					
					<h3>Get in touch:</h3>
					
					<br>
					
					{% ifequal success "sent" %}
					<div class="alert alert-success">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Thanks!</strong> I'll get back to you shortly.
					</div>
					{% endifequal %}
					{% ifequal success "error" %}
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>There was an error!</strong> Fill in all the fields and try submitting again.
					</div>
					{% endifequal %}
					
									
		            <form  role="form">
		                <div class="form-group ">
		                    <input id="name" name="name" type="text" class="form-control" placeholder="Name"> 
		                </div>
		                <div class="form-group ">
		                    <input id="email" name="email" type="email" class="form-control"  placeholder="Email address">
		                </div>
		                <div  class="form-group ">
		                    <textarea id="message" name="message" class="form-control"  placeholder="Your Message" rows="5"></textarea>
		                </div>
	              	    <div class="form-group ">
						  	<input id="test" name="test" type="text" class="form-control" placeholder="Captcha: what is 2 + 2 ?"> 
		                </div>
				  	  	<br>
		                <div class="form-group">
		                    <button id="contact-submit" type="submit" class="btn btn-primary input-medium ">Send</button>
		                </div>
		            </form>
		        </div>
			</div>
	
				
	
{% endif %}

		
		<div class="row" style="margin-top: 40px; ">
			
			<div class="col-md-6">
		
				<h3>Office details:</h3>
				
				<p class="lead">
					Digital Science<br />
					6 Briset St,<br />
					London,<br />
					EC1M 5NR, UK<br />

					<br />		
				</p>	

				<p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4965.08978422934!2d-0.103715!3d51.52156500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b51a2739b9f%3A0xff5d8ec3906ff6f3!2sBriset%20St%2C%20Farringdon%2C%20London!5e0!3m2!1sen!2suk!4v1577454355202!5m2!1sen!2suk" width=800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

				</p>

			</div>
			

		</div>



		<div class="row" style="margin-top: 100px; margin-left: -100px;">
						
			<div class="col-md-8">

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5YTPeA3LzK75sWqHYYZCXciwILDcI_sbAorM-v5sPTQmQjQ/viewform?embedded=true" width="800" height="844" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			
			</div>

		</div>


	
		<br><br><br>		
			


	
{% endblock %}







