
{% load extrafilters %}



    <table class="table -table-hover table-condensed -table-striped -well news medium_font" style=""> {# table-condensed table-striped #}

      <tbody>




        <tr>
            <td width="10%">

            	<span class="label label-success">website</span></td>
            </td>  
		
            <td class="text-muted">
           		<b>LiquidQuotes.com</b>
				&nbsp;<a href="http://www.liquidquotes.com/"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
           		<br />
				LiquidQuotes.com is a personal information management tool that allows to collect and organise snippets of text (‘highlights’) made while reading on the Kindle. 
			</td>
                 
        </tr>


	  
        <tr>
            <td width="10%">

            	<span class="label label-warning">software</span></td>
            </td>  
		
            <td width="80%" class="text-muted">
            	<b>Ontospy</b>
            	&nbsp;<a href="projects/ontospy/"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
            	<br />
				Ontospy is a command-line utility aimed at facilitating the navigation and querying of vocabularies encoded using W3C Semantic Web standards (aka ontologies). 
			</td>
                 
        </tr>


        <tr>
            <td width="10%">

            	<span class="label label-success">website</span></td>
            </td>  
		
            <td class="text-muted">
           		<b>Nature.com Ontologies Portal</b>
				&nbsp;<a href="projects/natureontologyportal"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
           		<br />
				An online resource describing the models and datasets used by Springer Nature for semantic publishing and, more generally, for enterprise metadata management. This contains detailed documentation and downloads for the nature.com core ontology, the subjects classification, the article types classification etc..
			</td>
                 
        </tr>



        <tr>
            <td width="10%">

            	<span class="label label-info">dataviz</span></td>
            </td>  
		
            <td class="text-muted">
           		<b>Nature-2-Wikipedia citations</b>
				&nbsp;<a href="projects/npgwikipedia"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
           		<br />
				An interactive visualization that lets you see all incoming references from Wikipedia to the nature.com archive. By using it one can discover patterns in the way scientific literature gets referenced by the largest and fastest growing encyclopedia of all times.
			</td>
                 
        </tr>


	

      </tbody>
    </table>


