{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block extra_js %}
	{# this applies only to music, but we're loading it anyways.. #}
	<script type="text/javascript" src="http://webplayer.yahooapis.com/player.js"></script>
{% endblock %}


{% block page_specific_inner %}


		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		
		{% comment %} <div class="text-muted text-right">Subscribe to the <a href="http://michelepasin.org/{{urlname|lower}}/feed/" class="feedlink">feed</a></div> {% endcomment %}

		<hr>
		<br />
			
		
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-10">
				
			
			<blockquote>
			  <p>Live coding (sometimes referred to as 'on-the-fly programming', 'just in time programming' and related term 'live programming') is a programming practice centred upon the use of improvised interactive programming. Live coding is often used to create sound and image based digital media, and is particularly prevalent in computer music, combining algorithmic composition with improvisation.</p>
			  <footer>Wikipedia <cite title="Livedoding on wikipedia"><a href="https://en.wikipedia.org/wiki/Live_coding" style="color: grey;">https://en.wikipedia.org/wiki/Live_coding</a></cite></footer>
			</blockquote>
			
			</div>
		</div>
		
		
		{% for p in items %}
		<div class="row" style="margin-bottom: 30px;">
		  <div class="col-sm-2 col-md-3">
		    <div class="">
			  <a href="{{p.urlstub|lower}}" class="thumbnail">
				  <img src="{% if p.img %}{{p.img.url}}{% endif %}" alt="Icon"/>
			  </a>
		    </div>
		  </div>
		  
		  <div class="col-sm-6 col-md-6">
		      <h4><a href="{{p.urlstub|lower}}" title="See details">{{p.title}}</a></h4>
		  		<small class="text-muted">{{p.date|date:"M Y"}}</small>
		      <p class="-lead">{{p.short_title}}</p>
		  </div>
		  
		  
		</div>
		{% endfor %}
		
		


		
		{#  #}
		{#  #}
		{# 	{% for p in items %} #}
		{# 	{% ifnotequal p.atype.name "performance" %} #}
		{#  #}
		{# 	<div class="media"> #}
		{# 		<a class="pull-left" href="{{p.urlstub|lower}}"><img  src="{% if p.img %}{{p.img.url}}{% endif %}" class="media-object" alt="Icon" height='35' width='45' /> #}
		{# 		</a> #}
		{# 	 #}
		{# 	 #}
		{# 	  <div class="media-body"> #}
		{# 	   #}
		{# 	    <h4 class="media-heading"><a href="{{p.urlstub|lower}}" title="See details">{{p.title}}</a> #}
		{# 			<small>{{p.date|date:"M Y"}}&nbsp;</small> #}
		{# 			mp3 url - for yahoo mp3 player #}
		{# 			{% if p.mp3url %} #}
		{# 				&nbsp;&nbsp;<a href="{{p.mp3url}}"></a> #}
		{# 			{% endif %} #}
		{# 		</h4> #}
		{# 					 #}
		{# 	    <span class="lead">{{p.short_title}}</span> #}
		{#  #}
		{# 	  </div> #}
		{# 	</div> #}
		{# 	<br> #}
		{# 	 #}
		{# 	{% endifnotequal %} #}
		{# 	{% endfor %} #}
		{#  #}
		{#  #}
		{# <br> #}
		{# <h3>Livecoding Performances</h3> #}
		{# <hr > #}
		{# <br> #}
		{#  #}
		{# 		 #}
		{#  #}
		{# {% for p in items %} #}
		{# {% ifequal p.atype.name "performance" %} #}
		{# 	 #}
		{# <div class="media"> #}
		{# 	<a class="pull-left" href="{{p.urlstub|lower}}"><img  src="{% if p.img %}{{p.img.url}}{% endif %}" class="media-object" alt="Icon" height='35' width='45' /> #}
		{# 	</a> #}
		{#  #}
		{#  #}
		{#   <div class="media-body"> #}
		{#    #}
		{#     <h4 class="media-heading"><a href="{{p.urlstub|lower}}" title="See details">{{p.title}}</a> #}
		{# 		<small>{{p.date|date:"M Y"}}&nbsp;</small> #}
		{# 	</h4> #}
		{#  #}
		{#     <span class="lead">{{p.short_title}}</span> #}
		{#  #}
		{#   </div> #}
		{# </div> #}
		{# <br> #}
		{#  #}
		{# {% endifequal %} #}
		{# {% endfor %} #}
		{# 	 #}
		{# 	 #}
	<br /><br />	
		
	
{% endblock %}




