{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block page_specific_inner %}




		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		<br /><br />


		<div class="row">
			<div class="text-muted text-right col-md-12">{# Publications #}


				Order by:
				<a class="h1links -text-muted" href="?query=date"> date</a>&nbsp;|
				<a class="h1links -text-muted" href="?query=type"> type</a>&nbsp;|
				<a class="h1links -text-muted" href="?query=project"> project</a>

				&nbsp;&nbsp;&nbsp;&nbsp;
				Get: <a class="h1links -text-muted" href="?format=txt">plain text</a> |
				<a href="http://michelepasin.org/papers/feed/" class="feedlink -text-muted">feed</a>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


				{# <form action="" class="search-form" style="display: inline-block;">#}
						<div class="form-group has-feedback" style="display: inline-block;">
						<label for="search" class="sr-only">Search</label>
						<input type="text" class="form-control" name="search" id="search-input" placeholder="search">
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
					</div>
				{# </form>#}

			</div>


		</div>


			 {% for group_and_pubs in return_items %}

			 <div class="row row_pubitem">

				 <hr>

 			 	<div class="col-sm-2 col-md-3">
 			 		<h2 class="well"><span>{{group_and_pubs.0}}</span></h2>
 			 	</div>


			 	<div class="col-sm-7 col-md-9">


					{% for pub in group_and_pubs.1 %}

					<br />

						<div class='pubitem'>

							<small class="text-muted">{{pub.pubdate|date:"M Y"}}</small>

							<p class='lead' style="font-size: 13px;">
								<a href="/{{urlname|lower}}/{{pub.id}}/">{{pub.title|capfirst}}</a>.
								<br />
								<span class="">{{pub|printmanyauthors}}</span>
							</p>

							<p class="pubinfo text-muted" style="margin-top: -15px;">

								{% if  pub.journal %}
									<span class='journal'> {{pub.journal}},</span>
								{% endif %}
								{% if  pub.conference %}
									<span class='conference'> {{pub.conference}},</span>
								{% endif %}
								{% if  pub.pubplace %}
									<span class='pubplace'> {{pub.pubplace}},</span>
								{% endif %}
								{% if pub.isforthcoming %}
									<span class='text-warning'> (forthcoming). </span>
								{% else %}
									<span class='pubdate'> {{pub.pubdate|date:"M Y"}}.</span>
								{% endif %}
								{% if  pub.extrainfo %}
									<span class='extrainfo'> {{pub.extrainfo|safe}}</span>
								{% endif %}
								{# {% for u in pub.all_urls %} #}
								{# 	<a class='url' href="{{u.0}}" style="color: #666;"> [{{u.1}}]</a> #}
								{# {% endfor %} #}

							</p>

							{% if not forloop.last %}
								<hr>
							{% endif %}


						</div>

					{% endfor %}


			 	</div>



			 </div>

			 {% endfor %}


		<br /><br /><br /><br />



{% endblock %}





{% block extra_js %}


	<script type="text/javascript">

	$('#search-input').keyup(function() {

	  var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
	  // var $rows = $(this).next(".entities-list").find("div");

	  var $rows = $(this).parent().parent().parent().parent().find("div.pubitem");

		console.log(val);
		console.log($(this).parent().parent().parent().parent());

	  $rows.show().filter(function() {
	      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
	      return !~text.indexOf(val);
	  }).hide();
	});

	</script>


{% endblock %}
