{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block page_specific_inner %}



		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		

		<br /><br />
	
	

	
			{# Flickr user ID #}
			{#  #}
			{# 76186999@N00 #}
			{#  #}
			{#  #}
			

			<div class=" col-sm-2 col-md-3 ">


				<style type="text/css" media="screen">
				img {padding: 10px;}
				</style>
				<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?
				count=20&source=user&user=76186999@N00&size=m&display=random"></script>
				
				<br /><br />
				
			</div>
	
			
			
			<div class=" col-sm-4 col-md-7 col-sm-offset-1 col-md-offset-1">
				
				<h4>Albums</h4>
				
				{% for x in sets_list  %}
					<a href="{{x.1|safe}}" target="_blank">{{x.0}}</a> ({{x.2}}) <br />
					
				{% endfor %}
				
				<br /><br />
			</div>	
			
			<br /><br />
	
	
			{# <div class="well"> #}
			{#  #}
			{# 	<h3>.. and a few shots from my favourites collection:</h3>	 #}
			{# 	 #}
			{# 		    	 <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?			 count=10&display=random&size=m&source=user_tag&user=76186999@N00&tag=inspiring"></script> #}
			{#   #}
			{#  #}
			{# </div> #}

		
	
{% endblock %}



