{% extends "researchapp/pages/base-default.html" %}

{% load extrafilters %}


{% block page_specific_inner %}




		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		<br /><br />

		<div class="text-muted text-right">

			Filter by keyword:&nbsp;
			{% for t in tags  %}
				<a {% ifequal active_tag t  %}href="?k=all" class="btn btn-xs active btn-danger" {% else %}href="?k={{t}}"{% endifequal %}>{{t}}</a>
				{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
			{% endfor %}

            {% if 0 %}Filter by keyword:
			<form method="get" id="filter_keyword" 	action="" class="" style="display: inline;">
                <select name="k" id="inputID" class="-form-control" onchange="$(this).closest('form').submit()">
                	<option value="all" {% ifequal active_tag t  %}selected="selected"{% endifequal %}> all </option>
					{% for t in tags  %}
						<option value="{{t}}" {% ifequal active_tag t  %}selected="selected"{% endifequal %}> {{t}} </option>
					{% endfor %}

                </select>{% endif %}
			</form>

        {# &nbsp;&nbsp;&nbsp;#}
				<br /><br />
            View as: <a href="?format=txt">plain text</a>

		</div>
		<hr>
		<br />





    <div class="row" style="margin-bottom: 50px;">

            {% for p in projects %}
		  <div class="col-md-4 col-sm-4 project-thumbs">
		    <div class="project-thumbnail">
                <h5 class="-text-uppercase -text-muted">{{p.title}}</h5>
			  <a href="{{p.urlstub|lower}}" class="thumbnail" title="{{p.title}}: {{p.short_title|truncatewords:10}}">
                {# NOTE: images are managed manually in STATIC FOLDER - main.png is hardcoded as the main one #}
				  <img src="{{ STATIC_URL}}manual_img/{{ p.urlstub }}/{{ p.urlstub }}.jpg" alt="Main image"/>
			  </a>
		    </div>
		  </div>

		  {% if 0 %}<div class="col-sm-10 col-md-6">
		      <h3><a href="{{p.urlstub|lower}}" title="See details">{{p.title}}</a></h3>
		  		<small class="text-muted">{{p.datefrom|date:"M Y"}} - {{p.dateto|date:"M Y"}}</small>
		      <p class="lead">{{p.short_title}}</p>
		  </div>{% endif %}

		  {% endfor %}
		</div>





{% endblock %}
