{% extends "researchapp/pages/base-default.html" %}
{% load static %}
{% load extrafilters %}


{% block page_specific_inner %}




		<h1>{{category|upper}} / {{urlname|capfirst}} / {{itemtitle|default:"..."}}</h1>
		<br /><br />

		<div class="text-muted -text-right">

			Filter by keyword:&nbsp;
			{% for t in tags  %}
				<a {% ifequal active_tag t  %}href="?k=all" class="btn btn-xs active btn-danger" {% else %}href="?k={{t}}"{% endifequal %}>{{t}}</a>
				{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
			{% endfor %}


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View as: <a href="?format=txt">plain-text</a>

		</div>
		<hr>
		<br />





    <div class="row" style="margin-bottom: 50px;">

        {% for p in projects %}
			<div class="col-md-4 col-sm-4 project-thumbs">
				<div class="project-thumbnail">
					<h5 class="-text-uppercase -text-muted">{{p.title}}</h5>
				<a href="{{p.urlstub|lower}}" class="thumbnail" title="{{p.title}}: {{p.short_title|truncatewords:10}}">
					{# NOTE: images are managed manually in STATIC FOLDER - main.png is hardcoded as the main one #}
					<img src="{% static 'manual_img/' %}{{ p.urlstub|lower }}/{{ p.urlstub }}.jpg" alt="Main image"/>
				</a>
				</div>
			</div>
		  {% endfor %}

		</div>





{% endblock %}
